################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/UserManagement.Application/.vs
/Backend/UserManagement.Application/UserManagement.Application/bin/Debug/net8.0
/Backend/UserManagment.BusinessLogic/bin/Debug/net8.0
/Backend/UserManagment.BusinessLogic/obj/Debug/net8.0
/Backend/UserManagment.EntityFrameworkCore/bin/Debug/net8.0
/Backend/UserManagment.EntityFrameworkCore/obj/Debug/net8.0
/Backend/UserManagement.Application/UserManagement.Application/obj/Debug/net8.0
*.json
*.cache
*.props
*.targets
